:root {
    --primary-color: sandybrown;
    --primary-color-semi-transparent: rgba(244, 164, 96, 0.5);
    --secondary-color: white;
    --font-family: Arial, sans-serif;
    --box-shadow-large: 0 0 8px rgba(0, 0, 0, 0.5);
    --box-shadow-small: 0 0 4px rgba(0, 0, 0, 0.3);
    --border-radius: 8px;
    --nav-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.centered {
    max-width: 800px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.container {
    min-height: calc(100vh - var(--nav-height));
    padding: 2rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--box-shadow-large);
    height: var(--nav-height);
}

input[type="text"], input[type="password"], input[type="date"], textarea {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 1rem;
}

.error {
    font-weight: bold;
    color: red;
}

button, input[type="submit"] {
    margin-right: auto;
    max-width: 150px;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow-small);
    font-weight: bold;
}

button:hover {
    background-color: lightgray;
    color: black;
}

.profile-preview img.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color-semi-transparent);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-small);
}

.profile-card img.avatar {
    width: 250px;
    height: 250px;
    border: 3px solid var(--primary-color-semi-transparent);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-small);
}

.profile-card {
    display: flex;
    gap: 2rem;
}

.profile-card-info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.profile-card-info p + p {
    border-top: 1px solid rgb(220, 220, 220);
    padding-top: 1rem;
}

.grid-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
}

.post-overview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 1rem;
}

.post {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-small);
    padding: 0.75rem;
}

.post-date {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 0.75rem;
}


@media screen and (max-width: 400px) {
  .navigation, .container {
    padding: 1rem;
  }
}