<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
</head>

<body>
    <nav>
        <div class="centered navigation">
            <a href="{{ url_for('index') }}"><h1>Social Media</h1></a>
            {% if session.get('name') %}
                <a href="{{url_for('logout')}}"><button>Logout</button></a>
            {% else %}
                <a href="{{url_for('login')}}"><button>Login</button></a>
            {% endif %}
        </div>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>