{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        {% if current_user %}
            <p>Hi, {{ current_user }}!</p>
        {% endif %}

        <h2>Posts</h2>
        <div class="post-overview">
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <a href="{{url_for('profile', username=post.author_username)}}">{{post.author_username}}</a>
                        <p class="post-date">{{ post.created_at.strftime('%d %B %Y %H:%M') }}</p>
                        <p>{{ post.content }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="no-posts">No posts</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}