{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        <form method="post">
            <h1>Login</h1>
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username() }}
            {{ form.password.label }}
            {{ form.password() }}
            <input type="submit" value="Login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="messages">
                        {% for category, message in messages %}
                            <p class="message {{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </form>
        
        <p>Haven't got an account yet? Create one <a href="{{url_for('register')}}">here!</a></p>
        <a href="{{url_for('register')}}"><button>Register</button></a>
    </div>
{% endblock %}