{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        <form method="post">
            <h1>Login</h1>
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <input type="submit" value="Login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="messages">
                        {% for category, message in messages %}
                            <p class="message {{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </form>
        
        <p>Haven't got an account yet? Create one <a href="{{url_for('register')}}">here!</a></p>
        <a href="{{url_for('register')}}"><button>Register</button></a>
    </div>
{% endblock %}