{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        {% if user %}
            <div class="profile-card">
                <img class="avatar" src="{{ url_for('static', filename=user.avatar or 'user-avatar.jpg') }}">
                <div class="profile-card-info">
                    <p>Username: {{user.username}}</p>
                    <p>Name: {{user.fullname if user.fullname else ''}}</p>
                    <p>Birthday: {{user.birthday.strftime('%d %B %Y') if user.birthday else ''}}</p>
                    <p>Location: {{user.location if user.location else ''}}</p>
                    <p>Something fun: {{user.something_fun if user.something_fun else ''}}</p>
                </div>
            </div>

            <div class="post-overview">
                <h2>Posts</h2>
                {% if current_user == username %}
                    <form method="post">
                        {{ form.hidden_tag() }}
                        {{ form.content(rows=4, maxlength=5000) }}
                        <input type="submit" value="Post!">
                    </form>
                {% endif %}
                {% if posts %}
                    {% for post in posts %}
                        <div class="post">
                            <p class="post-date">{{ post.created_at.strftime('%d %B %Y %H:%M') }}</p>
                            <p>{{ post.content }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="no-posts">No posts</h3>
                {% endif %}
            </div>
            
        {% else %}
            <p>Profile not found.</p>
        {% endif %}
    </div>
{% endblock %}