{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        {% if current_user %}
            <p>Hi, {{ current_user }}!</p>
        {% endif %}

        <h2>Profiles</h2>
        <div class="grid-profiles">
            {% if users %}
                {% for user in users %}
                    <a href="{{ url_for('profile', username=user.username) }}">
                        <div class="profile-preview">
                            <img class="avatar" src="{{ url_for('static', filename=user.avatar or 'user-avatar.jpg') }}">
                            <h3>{{ user.username }}</h3>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No users found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}